

body, textarea{
  background-color: #dbdbdb;
  height:100%;
  font-family: 'calibri';

}

ul,li,h1,h2,h3,h4,hr,p,a{

  text-decoration: none;
  list-style: none;
  margin:0;
  padding:0;

}


/* LOGIN POPUP FORM */

#popup-login{
  display: none;
}

.login-form{
  display:block;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
}

.modal-bg{
  border-radius: 5px;
  width: 30%;
  height: 200px;
  background-color: #43362b;
  text-align: center;
  margin: auto;
  padding: 10px;

}

.modal h4{
  padding-bottom: 10px;
  margin:0;
  float:left;
  text-align: left;
  display: inline-block;
  color: white;
  width: 50%;

}

.modal a#close{
  display:block;
  float:right;
  margin:auto;
  text-align: right;
  width: 50%;
  padding-bottom: 10px;
  color: white;
  text-align: none;
}

input{
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

input#username{
  display: block;
  margin: auto;
}

input#password{
  display: block;
  margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

button#login-button{
  text-align: center;
  width: 200px;
  display: block;
  margin: auto;
  border-radius: 5px;
  background-color: #90613b;
  border: none;
  padding:5px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal p{
  color: white;
  font-size: 10pt;
  font-weight: lighter;
  font-style: italic;
}


a#register{
  color: white;
  text-decoration: underline;
  margin: 10px;
}


/*  HEADER & USERPAGE */

.header{
  margin-top:-110px;
  display: block;
  position: fixed;
  width: 100%;
  height: 110px;
  background-color: #734b2b;
  border-bottom: 1px solid #f3ceb0;
}


.search-page {
  float:left;
  margin-left: 1%;
  margin-bottom:2px;
}

.search-page input#search-input{
  border-radius: 7px;
  width: 250px;

}



.search-page img{
  margin-left:-23px;
}


.user-area{
  margin-top:5px;
  margin-right:1%;
}

.user-area ul{
  height:15px;
}

.user-area li{
  float:right;
  list-style: none;
}

.user-area li a {
  margin:auto;
  padding:8px;
  text-decoration: none;
  color:white;
}

.user-area li a:hover{
  color:black;
  background-color: white;
  border-radius: 5px;
  font-style: italic;

}


.company-logo {
  text-align: center;
  margin-top:10px;
  color:#efc29d;
  font-style: italic;
  font-size: 20pt;
}


.line-1 hr{
  margin:0;
  padding:0;
  width: 100%;
  border-top:0.5px solid #f3ceb0;
  border-bottom:0.5px solid #f3ceb0;
}

.line-2 hr{
  margin:auto;
  padding:0;
  width: 30%;
  align-items: center;
  border-top: 0px solid #f3ceb0;
  border-bottom: 1px solid #f3ceb0;

}


.company-logo h4{

  margin:0;
  padding:0;
}



.navbar{
  margin-top:2px;
  float:right;
  left:-50%;
  position: relative;
  text-align: left;
}

.navbar ul{
  list-style: none;
  position:relative;
  left:50%;
  font-weight: lighter;
}

.navbar li{
  padding-top:0px;
  padding-bottom:0px;
  float:left;
  position:relative;
}

.navbar ul li:hover{
  font-weight: bold;
  font-size: 22pt;
  font-style: italic;
}

.navbar a {
  padding:5px;
  margin-left:10px;
  margin-right:10px;
  float:left;
  text-decoration: none;
  color:white;
}

.navbar li a{
  color:white;
  /* background-color: white; */
  border-radius: 5px;
}


.main{
  overflow: hidden;
  margin:0;
  margin-top:110px;
  display:block;
  width: 100%;
  z-index:-10;
}

/* BANNER HERE */
.banner{
  display: block;
  overflow: hidden;
  text-align:center;
  height:450px;
  width:100%;
}

.banner img{
height: 450px;
width: auto;

}

.back-to-index{
  background-color:
}


/* HELP page */
.help{
  padding: 20px;
  display: block;
  background-color: #44382c;
  width: 70%;
  margin:auto;
  border-radius: 7px;
  color:white;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.help-description p#numb{
display: inline-block;
float:left;
}
.help-description p#desc{

float:left;


}


/* HOME */
.main h4#hotlist{
  padding-top: 10px;
  font-weight: lighter;
  display:block;
  width: 100%;
  height: 30px;
  text-align: center;
  background-color: #734b2b;
  margin-top: 0;
  padding-left: 20px;
  color:white;
  }


/* CONTAINER */

.container{

  padding-bottom: 10px;
  padding-top:10px;
  background-color:#decab5;
  display: block;
  width: 100%;

}

.container-index{
text-align: center;

}

.items-container{
  overflow: hidden;
  display: inline-block;

  width: 320px;

  text-align: center;

  margin: auto;

}

.items {
  text-align: center;
  display: inline-block;
  overflow: hidden;
  background-color:#ffffff;
  width:300px;
  height: 420px;
  border-style:solid;
  border-width: 3px;
  border-color: #e6e6e6;
  border-radius: 5px;
  margin:5px;
}

.item-image img#img{
  opacity:1;
  display: block;

  width: auto;
  height: 300px;
  transition:.5s ease;
}

a#img:hover {
  opacity:0,3;
}


.item-title{
  margin:1px;
  padding-left: 1px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}


.item-title p{
  font-size: 16pt;
  margin-bottom:2px;
  margin-top:10px;
  color: #734b2b;
}

.line-item hr {
  width:60%;
  margin: auto;
  text-align: center;
}

.item-description{
  text-align: center;
  margin:5px;

}




/* ITEM DETAIL on PRODUK DETAIL*/
.item-detail{
  padding-bottom: 50px;

}


.item-detail-image img{
  margin-left: 15%;
  border-style:solid;
  border-width: 3px;
  border-color: #e6e6e6;
  border-radius: 5px;
  float:left;
  display: block;
  width:300px;
  height: 300px;
  margin-bottom: 10px;
}



.item-detail-title p {

  padding-left: 10px;
  font-weight: Bold;
  text-transform: uppercase;
  display: inline-block;
  margin-left:10px;
  font-size: 16pt;
  margin-bottom:2px;
  margin-top:10px;
  color: #734b2b;
}

.item-detail-description p{
  border-radius: 5px;
  width: 400px;
  background-color: #dbdbdb;
  height: 120px;
  display: inline-block;
  margin-left:10px;
  font-size: 14pt;
  margin-bottom:2px;
  margin-top:10px;
  color: #734b2b;
  padding:10px;
}

.price p{

  font-weight: Bold;
  display: inline-block;
  margin-left:10px;
  font-size: 16pt;
  margin-bottom:2px;
  margin-top:10px;
  color: #734b2b;
}

.qty-input p{
  display: inline-block;
  margin-left:10px;
  font-size: 16pt;
  margin-bottom:2px;
  margin-top:10px;
  color: #734b2b;
}

.qty-input input{
  width: 30px;
  margin:auto;
  text-align: center;
}

.qty-input input#button{
  width: 150px;
  border-radius: 5px;
  border:none;
  color:white;
  height: 25px;
  background-color: #90613b;
}

.qty-input button#btn-back{
  width: 150px;
  border-radius: 5px;
  border:none;
  color:white;
  height: 25px;
  background-color: #b39379;
  width: 150px;
}


/* PRODK */



/* CART */
.cart{
  width: 100%;

  }

.cart h4{
  text-align: center;
  margin-left:auto;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cart hr#line{
  width: 95%;
  margin:auto;
}

/* ITEM LIST ON CART */

.cart-detail {
  display: block;
  width: 100%;
  margin:auto;
  overflow: hidden;
}

.column-label label{
  margin-top:5px;
  text-transform: uppercase;
  font-size: 15pt;
}

.column-label label#item{
  float:left;
  width: 10%;
}

.column-label label#description{
  float:left;
  width: 20%;
}

.column-label label#price{
  text-align: right;
  float:left;
  width: 25%;
}

.column-label label#qty{
  float:left;
  width: 15%;

  text-align: center;
}

.column-label label#subtotal{
  float: left;
  width: 15%;
  text-align: right;
}

.column-label label#action{
  float:left;
  width: 15%;
  text-align: right;
}


/* ITEM DETAIL in CART */
.column-label{
  margin-left:3%;
  margin-right:3%;

}
.column-label label{
    padding-bottom: 10px;
    border-bottom:1px solid;
}

.item-cart{
  height:80px;
  padding-top: 10px;
  border-bottom: 1px solid;
  margin-left: 3%;
  margin-right: 3%;
}

.item-cart-image img{
  height: 70px;
  width: 70px;
  border-radius: 5px;
}


.item-cart-image{
  float:left;
  width: 10%;

}

.item-cart-detail{
  float:left;
  width: 20%;
}

    .item-cart-title{
      text-transform: uppercase;
      font-weight: bold;
    }

    .item-cart-description{
      font-style: italic;
      font-size: 10pt;

    }

.item-cart-price{
  text-align: right;
  float:left;
  width: 25%;
}

.item-cart-qty{
  float:left;
  width: 15%;
  text-align: center;
}

.item-cart-qty input{
  width: 40px;
  height: 15px;
  border-radius: 5px;
  text-align: center;
}

.item-cart-subtotal{
  text-align: right;
  float:left;
  width:15%;
}

.item-cart-action{
  float:left;
  width: 15%;
  text-align: right;
}

.item-cart-action a{
  margin:auto;
  display: inline-block;
  padding: 0;
  margin:auto;
  background-color: white;
  height: 20px;
  width: 20px;
  border: 1px solid #d5bba6;
  color: black;
  text-transform: uppercase;
  text-align: center;

}

/* TOTAL CART */
.total{
  font-size:18pt;
  font-weight: bold;
}

.total-label{
  display: inline-block;
  text-align: right;
  width: 60%;
}


.total-value{
  display: inline-block;
  width: 10%;
  text-align: right;

}


.button button#btn-checkout{
  margin-top:10px;
  margin-bottom:10px;
  display: block;
  text-align: center;
  margin-left: 60%;
  width: 200px;
  border-radius: 5px;
  background-color: #43362b;
  color:white;
  border: 0px;
  height: 30px;
}

.button a#btn-back{
  margin-bottom: 0px;;
  padding: 0px;
  border-radius: 5px;
  background-color: #b3937a;
  color:white;
  border: 0px;
  margin-top:10px;
  margin-bottom:10px;
  display: block;
  text-align: center;
  margin-left: 60%;
  width: 200px;
  height: 25px;
}

/* CHECKOUT FORM */

.checkout-form{
  padding: 40px;
  font-weight: lighter;
  color:white;
  background-color: #43362b;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom:10px;
  border: none;
  border-radius: 10px;

}

.checkout-form h4{
  text-align:  center;
  padding-top:5px;
  padding-bottom:5px;
}

.checkout-form p#description{
  width: 220px;
  float:left;
  display:block;
  padding-left: 30%;
}


.checkout-form p#value{
  padding-right: 30%;
  margin:auto;
  float:right;
}

.checkout-form p#sign{
  float:left;
  display: block;
}

.checkout-form button#button{
  border-top: 0;
  margin-top: 20px;
  color:white;
  width: 250px;
  background-color: #b39379;
  padding-left:20px;
  padding-right:20px;
  border-radius: 5px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right:auto;

}

.checkout-form a#button{
  margin-top: 20px;
  color:white;
  width: 250px;
  background-color: #b39379;
  padding-left:20px;
  padding-right:20px;
  border-radius: 5px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right:auto;
}


/* CHECKOUT CONFIRM FORM */

.confirmation-form {

  width: 70%;
  background-color: #43362b;
  margin: auto;
  margin-top: 10px;
  margin-bottom:10px;
  border-radius: 5px;
  text-align: center;
}

.confirmation-form img{
  border-radius: 10px;
  height: 100px;
}

.confirmation-form h4{
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;
  color: white;
  font-weight:normal;
  border-bottom: 1px solid;
  border-top:  1px;
}



.confirmation-form p#description{
  color: white;
  font-weight: lighter;
  padding: 5px;
}

.confirmation-form p#value{
  color: white;
  font-size: 20pt;
}

.confirmation-form p#note{
  color: #dbdbdb;
  font-size: 10pt;
  font-weight: lighter;
  font-style: italic;


}
.btn-upload input#file{
  width: 100%;
  height: 100%;
  opacity: 0;
}



.btn-upload{
  border: 1px solid;
  display: block;
  background-color: #428bca;
  height:25px;
  width: 250px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
}

.btn-upload P{
  margin-top: -22px;
  color: white;
  text-transform: uppercase;
  font-weight: lighter;
}


.confirmation-form input#btn-submit{
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  color: white;
  background-color: #b39379;
  text-transform: uppercase;
  margin: 10px;
}





/* transaction status */
.status-container{
  width: 70%;
  background-color: #90613b;
  margin: auto;
  margin-top: 10px;
  margin-bottom:10px;
  border-radius: 5px;
  }

.status-container h4{
  text-align: center;
}

.status-container p#description{
  display: inline-block;
  float:left;
  width: 15%;
  margin-left: 30%;
}

.status-container p#sign{
  display: inline-block;
  float:left;
  width: 5%;
}

.status-container p#value{
  display: inline-block;
  float:left;
  text-align: right;
  width: 15%;
  margin-right:30%;

}

.status-container p#note{
  text-align: center;
  margin: auto;
  display: block;
}

.status-container input#button{
  text-align: center;
  margin: auto;
  display: block;
}


/* REGISTER FORM */
.register-form {
  background-color: #44382c;
  width: 70%;
  margin:auto;
  border-radius: 7px;
  color:white;
  text-align: right;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.register-form h4{
  margin:auto;
  padding-top:10px;
  font-weight: lighter;
  text-align: center;
  }

.input-form label#input-label{

  float:left;
  display:inline-block;
  width: 150px;
  margin-left: 25%;
}

.input-form p#sign{
  float:left;
  display: inline-block;
  margin-left: 1%;
}

.input-form input#input-value{
  margin-left: 1%;
  float:left;
  display: inline-block;
  border-radius: 5px;
  padding-left: 5px;
  width: 250px;
}

.input-form select#input-value{
  margin-left: 1%;
  float:left;
  display: inline-block;
  border-radius: 5px;
  padding-left: 5px;
  width: 250px;
}

.input-form textarea#input-value{
  margin-left: 1%;
  float:left;
  display: inline-block;
  border-radius: 5px;
  padding-left: 5px;
  width: 250px;
}


.register-form button#btn-register{
  color: white;
  width: 100px;
  border-radius: 5px;
  display: block;
  margin:auto;
  background-color: #b39379;
  border: none;
  padding:5px;
  margin-bottom: 10px;
}

.register-form p#note{
  font-style: italic;
  font-size: 10pt;
  color: #c6c0ba;
  text-align: center;
  display: block;
  margin:auto;
}

.register-form a#btn-login{
  color:white;
  text-align: center;
  border-radius: 5px;
  display: block;
  margin:auto;
  background-color: #926139;
  border: none;
  padding:5px;
  margin-bottom: 10px;
  width: 100px;
}

/* Menu Customer */
.container-profile a#menu-button{
  display:block;
  background-color: #90613b;
  text-align: center;
  width: 35%;
  height: 30px;
  margin: AUTO;
  border-radius: 5px;
  color: white;
}

.container-profile h4#menu{
  text-align: center;
  margin: auto;
}



/* PROFILE */
.container-profile{
  display: block;
  background-color: #44382c;
  width: 70%;
  margin:auto;
  border-radius: 7px;
  color:white;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-profile h4{
  margin-left: 25%;
  padding-top:10px;
  font-weight: lighter;
  text-align: left;
}

.profile label#profile-label{
  float:left;
  display: inline-block;
  width: 150px;
  margin-left: 25%;
}
.profile p#sign{
  float:left;
  display: inline-block;
  width: 100px;
}


.profile label#profile-value{
  margin-left: 1%;
  float: left;
  display: inline-block;
  width: 250px;
}

.container-profile a#profile-edit-profile-button{
  display: block;
  width: 20%;
  background-color: #90613b;
  padding-left: 10px;
  padding-right:10px;
  color: white;
  border-radius: 5px;
  text-align: center;
  margin: auto;
}

/* TRANSACTION LIST */

.transaction-list{
  display: block;
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.transaction-list h4{

  text-align: center;
  margin-left:auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.transaction-list-column-label label{
 margin-top: 5px;
 border-bottom: 1px solid;
}

.transaction-list-column-label label#id-invoice{
margin-left: 50px;
float:left;
width: 20%;
}

.transaction-list-column-label label#tgl-invoice{
  float:left;
  width: 20%;
}

.transaction-list-column-label label#tagihan{
  float:left;
  width: 20%;
}

.transaction-list-column-label label#status{
  float:left;
  width: 15%;
}

.transaction-list-column-label label#action{
  text-align: center;
  float:left;
  width: 15%;
  margin-right:50px;
}



.transaction-list{
  display: block;
  width: 100%;
  overflow: hidden;
  margin: auto;
}



.transaction-list-value label{
 margin-top: 5px;
}

.transaction-list-value label#id-invoice{
margin-left: 50px;
float:left;
width: 20%;
}

.transaction-list-value label#tgl-invoice{
  float:left;
  width: 20%;
}

.transaction-list-value label#tagihan{

  float:left;
  width: 20%;
}

.transaction-list-value label#status{
  float:left;
  width: 15%;
}

.transaction-list-value label#action{
  text-align: center;
  float:left;
  width: 15%;
  margin-right: 50px;
}

/*  STATUS TRANSAKSI */





/*  FOOTER */

.footer{
  overflow:hidden;
  margin:0;
  width: 100%;
  height: 300px;
  padding-top:5px;
  background-color: #734b2b;
}

.footer a{
  text-align: center;
  margin:auto;
  color: white;

}

.line-3 hr{
  margin-top:5px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10px;

  width: 50%;
  align-items: center;
  border-top: 0px solid #f3ceb0;
  border-bottom: 1px solid #f3ceb0;

}

.head-office p{
  float:left;
  margin-top:15px;
  color:white;
  margin-left:15%;
  margin-bottom:20px;

}


.social-media{
  padding:0;
  float:right;
  margin-right:15%;
}


.social-media p#head{
  margin-top:10px;
  color:white;
}
